<% layout('/layouts/boilerplate') %>
<div class="container-fluid">
	<div class="row">
		<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
			<h1>Log In</h1>
			<div>
				<form action="/login" method="POST" class="needs-validation" novalidate>
					<div class="mb-2">
						<label class="form-label" for="username">Username</label>
						<input class="form-control mb-2" type="text" name="username" id="username" required />
					</div>
					<div class="mb-2">
						<label class="form-label" for="password">Password</label>
						<input class="form-control mb-2" type="password" name="password" id="password" required />
					</div>
					<button class="btn btn-success">Log In</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="/javascripts/validateForms.js"></script>
